{% extends 'myapp/base.html' %}

{% block content %}


    

<!--     <form method = "post" enctype="multipart/form-data"> 
    {% csrf_token %} 
    {{ form.as_p }} 
    <button type="submit">Upload</button> 
	</form>  -->

<div class='container'>
	<p><button class="btn-right-done"><a href="add_image">Add Image and Text</a></button></p>
	<p><button class="btn-right-done"><a href="apply_lsb">Apply LSB</a></button></p>
	<p><button class="btn-right"><a href="convert_to_binary">Convert Image into Binary</a></button></p>
<!-- 	<p><button class="btn-right"><a href="#">Apply Partitioning</a></button></p>
	<p><button class="btn-right"><a href="#">Perform ZigZag</a></button></p>
	<p><button class="btn-right"><a href="#">Perform Swapping</a></button></p> -->
</div>


<div class="foot-panel more-posts">
<img src="{{ img.image.url }}">
<br>
<p><h6>Message successfully hidden using LSB </h6></p>
</div>






	<!-- <div class='container'>
  <ul>
    <li>
      <a class='animated-arrow'>
        <span class='the-arrow -left'>
          <span class='shaft'></span>
        </span>
        <span class='main'>
          <span class='text'>
            Upload an Image
          </span>
          <span class='the-arrow -right'>
            <span class='shaft'></span>
          </span>
        </span>
      </a>
    </li>
    <li>
      <a class='animated-arrow' href='https://google.com'>
        <span class='the-arrow -left'>
          <span class='shaft'></span>
        </span>
        <span class='main'>
          <span class='text'>
            View Projects
          </span>
          <span class='the-arrow -right'>
            <span class='shaft'></span>
          </span>
        </span>
      </a>
    </li>
    <li>
      <a class='animated-arrow' href='https://google.com'>
        <span class='the-arrow -left'>
          <span class='shaft'></span>
        </span>
        <span class='main'>
          <span class='text'>
            Get in Touch
          </span>
          <span class='the-arrow -right'>
            <span class='shaft'></span>
          </span>
        </span>
      </a>
    </li>
  </ul>
</div> -->


{% endblock %}