{% extends 'myapp/base.html' %}

{% block content %}

<div class='container'>
	<p><button class="btn-right-done"><a href="add_image">Add Image and Text</a></button></p>
	<p><button class="btn-right-done"><a href="apply_lsb">Apply LSB</a></button></p>
	<p><button class="btn-right-done"><a href="convert_to_binary">Convert Image into Binary</a></button></p>
	<p><button class="btn-right-done"><a href="apply_partitioning">Apply Partitioning</a></button></p>
	<p><button class="btn-right-done"><a href="perform_zigzag">Perform ZigZag</a></button></p>
	<p><button class="btn-right"><a href="perform_swapping">Perform Swapping</a></button></p>
</div>


<div class="foot-panel more-posts">
<p><h5>ZigZag done on Partition</h5></p>
{% for ins in s %}
{{ ins }}
{% endfor %}
</div>


{% endblock %}